<!DOCTYPE html>
<html ng-app = "rootModule">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./css/bootstrap.css">
	<link rel="stylesheet" href="./css/style.css">
    <script src='./js/angular.min.js'></script>
	<script src='./js/app.js'></script>
</head>

<body>
	<div ng-controller="contactListCrtr">
		<table class="table">
			<tr>
				<th>Name</th>
				<th>Phone</th>
				<th>ShowPhones</th>
			</tr>
			<tr ng-repeat="item in itemList">
				<td><span ng-class="item.name[0]==='A'?'red':(item.name[0]==='B'?'blue':'')">{{item.name}}</span></td>
				<td><span ng-show="item.show">{{item.phone}}</span></td>
				<td><input type="checkbox" ng-model="item.show" /></td>
			</tr>
		</table>
	</div>
</body>
</html>
